{% extends "RipperApp/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

    <div class="content-section">

        <div class="text-center">
            <h2>About</h2>
            <h5>Created by Austin Pearce | <a href="https://github.com/shadowstriker15/">My GitHub</a></h5>
        </div>

        <br>
        <br>

        <p><strong>This website was created for the sole educational value of trying out
            the Django framework.</strong>
            The features that can be seen here are made possible by the talented people behind the
            key Python modules this project uses such as <a href="https://youtube-dl.org/">youtube_dl</a>,
            <a href="https://spotipy.readthedocs.io/en/2.9.0/">spotipy</a>, and
            <a href="https://eyed3.readthedocs.io/en/latest/">eyed3</a>.
        </p>

        <p>Song Ripper's main function is to rip the audio from YouTube videos from a provided link
            from the user to create downloadable mp3 files through the form of a easily-accessible
            website. The initial focus was to use a user-made, <u>public</u> YouTube playlist to
            download any newly added videos. By using youtube_dl's handy archive function, the server
            will check if new videos were added to an inputted playlist link to prevent the
            redownloading of audio files. Thanks for checking it out!
        </p>

        <div class="border-top pt-3 text-right">
            <p class="text-muted">
                Want to get in contact? <a class="ml-2" href="mailto: austinpearce15@yahoo.com">Send me an email</a>
            </p>
        </div>

    </div>

{% endblock content %}