{% extends "RipperApp/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container">

        <div class="content">
            <div class="row">
                <div class="col-md-12 text-right">
                    {% if messages %}
                        {% for message in messages %}
                            {% if message.message == "Download complete! Click 'Continue'" %}
                                <form action="/edit">
                                    <input class="btn btn-secondary" type="submit" value="Continue"/>
                                </form>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>

        <br>

        <div class="text-center" style="font-family: 'Rubik', sans-serif">
            <h1>Welcome to Song Ripper!</h1>
        </div>

        <br>

        <div>
            <p>
                Simply plug in a valid YouTube song or a <strong>public</strong> playlist link below and click
                <i>Submit</i> or enter to initiate the process. Before downloading the songs, you will be able to
                manipulate the downloaded mp3 files' metadata to your liking. When you have filled out
                the form for a song, click the <i>Download</i> button to receive a prompt to save the mp3
                locally.
            </p>
            <p>
                If applicable, move to the next song by clicking the <i>Next</i> button.
                When doing so, Song Ripper will delete the previous file on the server, meaning
                you will not be able to redownload it unless you process the song through Song Ripper as
                a separate link or through a new playlist. Please note, the <em>Album</em> and
                <em>Artist</em> fields are how Song Ripper will be able to retrieve the album cover
                through Spotify's open API.
                By taking advantage of the <i>Find Albums</i> search feature, simply providing an
                artist name will call Song Ripper to retrieve a list of albums from Spotify, which can then
                be copied into the <i>Album</i> field. For songs that do not belong to an album (singles)
                try using the title of the song in replace of the <i>Album</i> field.
                If you get the error <i>Album cover was not found</i> and you think you typed/copied it exactly as
                seen on Spotify, try downloading the song again with the individual song link and use just the song's
                title for the <i>Album</i> field, as you would do for a single.
            </p>
            <p>
                <span class="caution"> By making sure your spelling is correct,
                Song Ripper will be able to locate the album by using both the <i>Album</i> and
                    <i>Artist</i> fields.</span> Song Ripper's
                features really shine when using YouTube playlists. By providing playlist links, whenever new
                videos have been added, Song Ripper will remember previously downloaded songs by Song Ripper
                to prevent any redownloading. Song Ripper also allows for multiple playlists to be
                used and be remembered! <span class="caution"> Please keep the amount of new songs or
                length of a new playlist low, 15 being the very max.</span> If a playlist of a larger
                length than 15 is initiated, the free storage on the backside of the server will be maxed
                out, resulting in the server being down until the downloads are deleted at
                <strong>10:00 UTC</strong>.
            </p>
        </div>

        <br>

        <div class="row">
            <div class="mx-auto">
                <form method="POST"> {% csrf_token %}
                    {{ link_form|crispy }}
                    <input class="btn btn-primary col-md-12" type="submit" value="Submit"/>
                </form>
            </div>
        </div>

        <div class="text-muted text-center">
            <p>Please wait for completion prompt after initiating download</p>
        </div>

        <br>

    </div>

{% endblock content %}
