{% extends "RipperApp/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

    <div class="container">
        <div class="row">
            {% if path_num == 0 %}
                <form action="/home" method="get">
                    <input type="submit" class="btn btn-primary" name="home" value="Return Home"/>
                </form>
            {% endif %}
            <div class="col-md-6">
                <p>{{ file_name }}</p>

                {% if path_num != 0 %}
                    <form method="POST" action="/download/"> {% csrf_token %}
                        {{ song_form|crispy }} <input type="submit" class="btn btn-primary" value="Download" name="save"
                                                      id="download"/>
                    </form>

                    <form action="/next/" method="get">
                        <input type="submit" class="btn btn-secondary" name="next" value="Next" id="Next"/>
                    </form>
                {% endif %}
            </div>

            <div class="col-md-6">
                <form method="POST"> {% csrf_token %}
                    {% crispy artist_form %} <input type="submit" class="btn btn-secondary" value="Find Albums"/>
                </form>
                {% for album, album_link in album_list %}
{#                    <li>{{ album }}</li>#}
                    <li><a href={{ album_link }} %}>{{ album }}</a></li>
                {% endfor %}
                {#                {% if album_list %}#}
                {#                    {% for album in album_list %}#}
                {#                        <li>{{ album }}</li>#}
                {#                    {% endfor %}#}
                {#                {% endif %}#}

            </div>
        </div>


{% endblock content %}