{% extends "RipperApp/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    {% if messages %}
        {% for message in messages %}
            {% if message.message == 'No more new downloaded songs.' %}
                <form action="/home" method="get">
                    <input type="submit" class="btn btn-primary" name="home" value="Return Home"/>
                </form>
            {% endif %}
        {% endfor %}
    {% else %}
        <form method="POST"> {% csrf_token %}
            <p>{{ file_name }}</p>
            {{ form|crispy }}
            <input type="submit" class="btn btn-primary" value="Download" name="save" id="download"/>
        </form>
        <form action="/next/" method="get">
            <input type="submit" class="btn btn-secondary" name="next" value="Next" id="Next"/>
        </form>
    {% endif %}

{% endblock content %}